*{
  margin: 0;
  padding: 0;
}

.underlineGray, .underlineRed , .underlineGreen {
  position: relative;
  overflow: hidden;
}
.underlineGray:after , .underlineRed:after,.underlineGreen:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  right: 100%;
  height: 2px;
  
  transition-property: left right;
  transition: all 0.4s ease-out;

}
.underlineGray:hover:after {
  right:0;
  background: #979797;
}
.underlineRed:hover:after{
  right:0;
  background: #f50606; 
}
.underlineGreen:hover:after{
  right:0;
  background: #16a34a; 
}

.signup-background{
  background-image: url(./assets/background-gate2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width:100vw;
  height: 100vh;
  filter: blur(2px);
  
}
 .homepage-background{
  /* background: linear-gradient(217deg,#ee9393, rgba(255,0,0,0) 100%),
  linear-gradient(127deg, #ee9393, rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, #ffffff, rgba(0,0,255,0) 20%); */
  /* background: linear-gradient(#ee9393, #9198e5); */
  /* background: linear-gradient(to top right,#e6a7a7,#ffffff,#ec7a7a); */
}

.img{
animation: moveImg 2s infinite 5s alternate-reverse both;
}
@keyframes moveImg{
  0%{
    transform: scale(1.1);
    /* transform: translateX(20%); */
    transition: all 0.3s ease-in-out;
  }
 
}

